body {
  font-family: Roboto, sans-serif;
  color: #2e2f42;
}
a {
  text-decoration: none;
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.accent {
  color: #4d5ae5;
}
nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-list:hover {
  color: #404bbf;
}
.nav-list:focus {
  color: #404bbf;
}
address a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
address a:focus {
  color: #404bbf;
}
address a:hover {
  color: #404bbf;
}
.hero {
  color: #fff;
  text-align: center;
}
.hero button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero button:hover {
  font-weight: 600;
  background-color: #404bbf;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  text-align: center;
}
footer {
  color: #f4f4fd;
}
footer a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
footer p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
