body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.accent {
  color: #2e2f42;
}
nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-list:hover {
  color: #404bbf;
}
.nav-list:focus {
  color: #404bbf;
}
.contacts a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.contacts-list:focus {
  color: #404bbf;
}
.contacts-list:hover {
  color: #404bbf;
}
.hero {
  color: #fff;
  text-align: center;
  background-color: #2e2f42;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-button:hover {
  font-weight: 600;
  background-color: #404bbf;
}
.hero-button:focus {
  font-weight: 600;
  background-color: #404bbf;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
  text-align: center;
}
.section-list {
  background-color: #ffffff;
}
.portfolio .section-title {
  text-align: center;
}
.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background-color: #2e2f42;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-accent {
  color: #f4f4fd;
}
